.slick-slide {
    padding: 20px 20px; /* Aggiunge spazio sia sopra che sotto ogni slide */
    overflow: hidden; /* Nasconde l'overflow durante l'ingrandimento */
    transition: transform 0.4s ease, box-shadow 0.3s ease; /* Transizione per l'ingrandimento */
  }
  
  .slick-slide:hover {
    transform: scale(1.13); /* Ingrandisce l'intero contenitore */
  }
  
  .slick-prev, .slick-next {
    z-index: 1; /* Assicurati che i controlli siano sopra le immagini */
  }
  
  .slick-prev {
    left: 0;
  }
  
  .slick-next {
    right: 0;
  }
  
  .slick-slide img {
    width: 100%;
    height: 300px; /* Imposta l'altezza fissa per tutte le copertine */
    object-fit: cover; /* Mantiene le proporzioni delle immagini */
    border-radius: 5px;
  }
  
  .carousel-title {
    font-size: 1.5rem; /* Modifica la dimensione del testo come preferisci */
    color: white; /* Assicurati che il colore sia leggibile sullo sfondo scuro */
  }
  
  /* FilmList.css */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Altezza del contenitore del loader */
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin: 20px;
  }
  